@import './global.scss';

#vendor-requests {
  .aligner {
    margin-top: 40px;
    
    header{
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 50px;

      span {
        float: left;
        width: 40px;
        height: 40px;
        background: $pale-blue;
        overflow: hidden;
        text-align: center;
        color: white;
        border-radius: 50%;
        padding-top: 7px;
        font-size: 18px;
        font-weight: 400;
        margin: -5px 10px 0 0;

        i {
          font-size: 18px;
        }
      }

      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }

    #requests-table {
      .row {
        border:1px solid lightgray;
        background: #F7F7F7;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 20px 30px;

        div {
          &:after {
            display: block;
            content: "";
            clear: both;
          }
          
          i {
            float: left;
            font-size: 20px;
            margin: 5px 10px 0 0;
          }

          span {
            float: left;
            font-size: 20px;
            font-weight: 100;
          }

          .label {
            all: unset;
            min-width: 70px;
            display: inline-block;
            background: lightgray;
            color: gray;
            font-size: 13px;
            padding: 5px 15px;
            font-weight: 400;
            border-radius: 2px;

            &.approved {
              background: green;
              color: white;
            }
          }

          button {
            display: inline-block;
            min-width: 80px;
            text-align: center;
            padding: 5px 0;
            border-radius: 2px;
            color: $white;
            font-size: 13px;
            cursor: pointer;
            outline: none;
            font-weight: 400;
            border: none;
            background: $blue;

            &:nth-child(2) {
              margin-left: 20px;
              background: $red;
            }
          }
        }
      }
    }
  }
}
