@import './global.scss';

#auth {
  #auth-box {
    margin: 90px auto 0;
    min-width: 450px;
    width: 26%;
    min-height: 300px;
    border-radius: 2px;
    border: 1px solid #F1F1F1;

    #tabs {
      border-bottom: 1px solid #F1F1F1;
  
      .tab {
        float: left;
        width: 50%;
        background: #F1F1F1;
        padding: 15px 0;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: 500;

        &.active {
          background: none;
        }
      }
    }

    .status-div {
      width: 85%;
      margin: 30px auto;
      background: $light-gray;
      font-size: 14px;
      font-weight: 300;
      padding: 14px 20px;
      border-radius: 2px;
      
      &.error {
        background: #E4999B;
        color: white;
      }

      &.success {
        background: #69B8B6;
        color: white;
      }
    }

    .auth-button {
      display: block;
      width: 85%;
      text-align: center;
      padding: 15px 0;
      border-radius: 2px;
      color: $white;
      font-size: 13px;
      cursor: pointer;
      outline: none;
      margin: 20px auto 30px;
      font-weight: 400;
      border: none;
      background: $blue;
    }

    .fieldset {
      display: block;
      width: 85%;
      margin: 0 auto 20px;

      label {
        display: block;
        font-size: 11px;
        font-weight: 400;
        color: $blue;
      }

      input {
        display: block;
        width: 100%;
        border: 1px solid lightgray;
        padding: 10px;
        outline: none;
        font-size: 18px;
        font-weight: 100;
        border-radius: 2px;
        margin-top: 8px;
      }
    }
  }
}