@import './global.scss';

#header {
  display: block;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 55px;
  padding-top: 1px; 
  background: $blue;

  a {
    .page-name {
      float: left;
      color: $white;
      font-size: 20px;
      font-weight: 100;
    }

    .navlink {
      color: $white;
      font-size: 14px;
      margin: 5px 0 0 25px;
      float: right;
      font-weight: 400;
    }
  }

  .aligner {
    margin-top: 13px;

    #nav-icon {
      position: relative;
      display: none;
      float: right;

      .fa-icon {
        display: block;
        color: white;
        margin-top: -7px;
        font-size: 30px;
        cursor: pointer;
      }

      #page-overlay {
        left: 0;
      }

      @media all and (max-width: 490px) {
        display: block
      }
    }

    #nav-out-items {
      @media all and (max-width: 490px) {
        display: none
      }

      #cart, #order {
        float: right;
        margin: 2px 15px 0 0;

        i {
          float: left;
          font-size: 25px;
          color: $light-gray;
        }

        span {
          float: left;
          margin: -4px 0 0 -8px;
          background: $red;
          width: 20px;
          font-size: 10px;
          font-weight: 400;
          border-radius: 50%;
          overflow: hidden;
          padding-top: 3px;
          color: $white; 
          height: 20px;
          text-align: center;
        }
      }

      #profile {
        float: right;

        img {
          float: left;
          height: 30px;
        }

        span {
          float: left;
          font-weight: 200;
          margin: 1px 0 0 8px;
          font-size: 19px;
          text-transform: capitalize;
          color: $white;
        }
      }
    }
  }
}

#header-spacer {
  display: block;
  height: 55px;
}
