@import './global.scss';

#header {
  display: block;
  min-width: 400px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 55px;
  padding-top: 1px; 
  background: $blue;
  overflow: hidden;

  a {
    .page-name {
      float: left;
      color: $white;
      font-size: 20px;
      font-weight: 100;
    }

    .navlink {
      color: $white;
      font-size: 14px;
      margin: 5px 0 0 25px;
      float: right;
      font-weight: 400;
    }
  }

  .aligner {
    margin-top: 13px;

    #search-div {
      $hdiv: 30px;

      position: relative;
      overflow: hidden;
      width: 30%;
      height: $hdiv;
      background: white;
      border-radius: 2px;
      margin-left: 3%;
      float: left;

      input {
        display: block;
        width: calc(100% - 85px);
        height: $hdiv;
        padding: 5px 10px;
        font-size: 15px;
        outline: none;
        font-weight: 300;
        border: none;
        background: none;
      }

      #buttons {
        display: inline-block;
        position: absolute;
        top: 0; right: 0;
        width: 85px;
      
        button {
          float: right;
          background: none;
          height: $hdiv;
          padding: 2px 8px 0 0;
          color: gray;
          border: none;
          font-size: 17px;
          cursor: pointer;
          outline: none;

          &:hover {
            color: black;
          }

          &#times {
            font-size: 20px;
            padding-top: 1px;
          }
        }
      }
    }

    #category-dropdown {
      width: 17%;
      margin-left: 1%;
      float: left;

      select {
        width: 100%;
        background: white;
        border: none;
        border-radius: 2px !important;
        height: 30px;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
      }
    }

    #product-add {
      float: left;
      margin: -3px 0 0 1%;
      button {
        background: transparent;
        border: none;
        outline: none;
        font-size: 25px;
        color: white;
        cursor: pointer;
      }
    }

    #nav-icon {
      position: relative;
      display: none;
      float: right;

      .fa-icon {
        display: block;
        color: white;
        margin-top: -7px;
        font-size: 30px;
        cursor: pointer;
      }

      #page-overlay {
        left: 0;
      }
    }

    #nav-out-items {
      #cart, #order {
        float: right;
        margin: 2px 15px 0 0;

        i {
          float: left;
          font-size: 25px;
          color: $light-gray;
        }

        span {
          float: left;
          margin: -4px 0 0 -8px;
          background: $red;
          width: 20px;
          font-size: 10px;
          font-weight: 400;
          border-radius: 50%;
          overflow: hidden;
          padding-top: 3px;
          color: $white; 
          height: 20px;
          text-align: center;
        }
      }

      #profile {
        float: right;

        img {
          float: left;
          height: 30px;
        }

        span {
          float: left;
          font-weight: 200;
          margin: 1px 0 0 8px;
          font-size: 19px;
          text-transform: capitalize;
          color: $white;
        }
      }
    }
  }

  @media all and (max-width: 900px) {
    .aligner {
      #search-div {
        width: 45%;
      }

      #category-dropdown {
        width: 25%;
      }

      #nav-out-items {
        display: none;
      }

      #nav-icon {
        display: block;
      }
    }
  }

  @media all and (max-width: 768px) {
    .aligner {
      #category-dropdown {
        display: none;
      }

      #search-div {
        width: 55%;
      }
    }
  }
  
  @media all and (min-width: 769px) and (max-width: 900px) {
    
  }

}

#header-spacer {
  display: block;
  height: 55px;
}
