@import './global.scss';

#home-wrapper {
  width: 100%;
  height: calc(100% - 55px);
  overflow-y: scroll;

  #sidebar {
    float: left;
    height: 100%;
    width: 23%;
  }
  
  #content {
    float: left;
    width: 77%;
    border-left: 1px solid #E8E8E8;
    
    #home {
      width: 98%;
      margin: 0 auto 40px;

      #home-products {
        margin: 40px 0 0; 

        .pagination {
          ul {
            margin: 0 auto;
          }
        }
      }
      
      #no-product {
        display: block;
        font-size: 25px;
        font-weight: 100;
        width: 98%;
        text-align: center;
        margin: 13% auto 0;
        
        button {
          @include addProdBut();
          display: block;
          padding: 8px 20px;
          margin: 30px auto 0;
        }

        i {
          display: block;
          margin-bottom: 30px;
          font-size: 40px;
        }
      }
    }
  }

  @media all and (max-width: 768px) {
    #content {
      #home {
        #category-nav {
          a span {
            font-size: 12px;
          }
        }
      }
    }
  }
  
  @media all and (max-width: 900px) {
    #sidebar {
      display: none;
    }

    #content {
      width: 100%;
    }
  }
}