@import './global.scss';

#home {

  #no-product {
    display: block;
    font-size: 25px;
    font-weight: 100;
    width: 98%;
    text-align: center;
    margin: 13% auto 0;

    i {
      display: block;
      margin-bottom: 30px;
      font-size: 40px;
    }
  }

  #search-field {
    width: 98%;
    margin: 30px auto 50px;

    input {
      float: left;
      width: 50%;
      padding: 7px 10px;
      background: $light-gray;
      border: 1px solid #F0F0F0;
      border-radius: 2px;
      font-size: 18px;
      outline: none;
      font-weight: 100;
    }

    button {
      float: left;
      padding: 7px 20px 8px;
      background: $blue;
      border: none;
      margin-left: 10px;
      cursor: pointer;
      border-radius: 2px;
      font-size: 18px;
      outline: none;
      color: $white;
    }
  }
}