@import './global.scss';

#navbar {
  position: fixed;
  z-index: 10001;
  right: 0;
  width: 280px;
  background: white ;
  padding-bottom: 20px;

  .heading {
    display: block;
    padding: 10px 15px;
    font-size: 11px;
    font-weight: 400;
    color: gray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    background: #F7F7F7;
  }

  #navbar-image {
    display: block;
    width: calc(100% - 30px);
    margin: 20px auto;

    img {
      float: left;
      height: 45px;
    }
    span {
      float: left;
      margin: 3px 0 0 15px;
      font-size: 25px;
      font-weight: 200;
    }
  }

  .nav-item {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 300;

    span {
      float: left;
    }

    i {
      float: right;
      width: 22px;
      height: 22px;
      font-style: unset;
      font-size: 15px;
      border-radius: 50%;
      text-align: center;
      padding-top: 4px;
      font-weight: 100;
      background: red;
      color: white;
      margin: -2px 0 0 10px;
    }

    &:hover {
      background: #F2F2F2;
    }
  }
}